.bitter-history {
    margin: 0;
    margin-top: -26px;
    background-color: $bitter-gray-back;
}

.bitter-history--title {
   padding: 50px 50px 15px;
   font-size: 20px;
   line-height: 26px;
   font-weight: 900;
   text-align: center;
   color: $bitter-gray-text;
}

.bitter-history--paragraph {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $bitter-gray-text;
}

@media (min-width: $tablet-width) {
    .bitter-history {
        position: relative;
        margin-top: -41px;
        padding-bottom: 52px;
    }

    .bitter-history--title {
        padding-top: 135px;
        padding-left: 65px;
        padding-right: 65px;
        font-size: 30px;
        line-height: 40px;
    }

    .bitter-history--paragraph {
        padding-left: 25px;
        font-size: 16px;
    }

    .bitter-history--portrait {
        position: absolute;
        left: 50%;
        width: 352px;
    }
}

@media (min-width: $desktop-width) {
    .bitter-history {
        padding-bottom: 27px;
        background-color: white;
    }

    .bitter-history--title {
        margin-top: -89px;
        padding-top: 0;
        padding-bottom: 55px;
        padding-right: 532px;
        font-size: 40px;
        line-height: 50px;
        text-align: start;
        background-color: white;
    }

    .bitter-history--paragraph {
        position: relative;
        z-index: 3;
        margin: 0px;
        margin-right: 515px;
        padding-top: 25px;
        background-color: $bitter-gray-back;
    }

    .bitter-history--paragraph:last-of-type {
        padding-bottom: 33px;
    }

    .bitter-history--portrait {
        left: 654px;
        top: 149px;
        width: 543px;
    }
}