.bitter--quote__text {
    margin-left: -10px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 900;
    text-align: center;
    color: $bitter-gray-text;
}

.bitter--quote__autor {
    padding-left: 35px;
    padding-right: 73px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.bitter--quote__date {
    padding-left: 73px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #b5b5b5;
}

@media (min-width: $tablet-width) {
    .bitter--quote {
        position: relative;
    } 

    .bitter--quote::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $bitter-green;
        display: block;
    }

    .bitter--quote::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $bitter-green;
        display: block;
    }

    .bitter--quote__text {
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 55px;
        padding-right: 55px;
        font-size: 18px;
        line-height: 36px;
    }

    .bitter--quote__autor {
        padding-bottom: 50px;
    }

    .bitter--quote__date {
        position: absolute;
        top: 80%;
        left: 56%;
    }
}

@media (min-width: $desktop-width) {
    .bitter--quote {
        margin: 0 auto;
        width: 770px;
        padding-left: 233px;
        padding-right: 266px;
        padding-bottom: 201px;
        background-image: url(../img/sw-bitter/bitter-desktop-left-bg.png), url(../img/sw-bitter/bitter-desktop-right-bg.png);
        background-repeat: no-repeat;
        background-position: left, right;
    }

    .bitter--quote__text {
        font-size: 24px;
        line-height: 40px;
    }

    .bitter--quote__date {
        top: 336px;
    }
}