.bitter-history {
    margin: 0;
    margin-top: -26px;
    background-color: $bitter-gray-back;
}

.bitter-history--title {
   padding: 50px 50px 15px;
   font-size: 20px;
   line-height: 26px;
   font-weight: 900;
   text-align: center;
   color: $bitter-gray-text;
}

.bitter-history--paragraph {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $bitter-gray-text;
}

.bitter-history--paragraph:last-child {
    padding-bottom: 122%;
    background-image: url(../img/sw-bitter/bitter-portrait.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

@media (min-width: $tablet-width) {
    .bitter-history {
        position: relative;
        margin-top: -41px;
        padding-bottom: 52px;
    }

    .bitter-history--title {
        padding-top: 135px;
        font-size: 30px;
        line-height: 40px;
    }

    .bitter-history--paragraph {
        padding-left: 25px;
        font-size: 16px;
    }

    .bitter-history--portrait {
        position: absolute;
        left: 50%;
        width: 352px;
    }
}