.bitter-related {
    background-color: $bitter-gray-back;
}

.bitter-related--title {
    padding-left: 30px;
    padding-top: 45px;
    scroll-padding-bottom: 57px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    color: $bitter-gray-text;
    text-align: center;
}

.bitter-related--list {
    @include list-reset;
    position: relative;
}

.bitter-related--list-item__number {
    position: absolute;
    z-index: 0;
    padding-left: 100px;
    color: #ffffff;
    font-size: 130px;
    font-weight: 900;
    text-align: center;
}

.bitter-related--list-item__text {
    position: relative;
    z-index: 3;
    padding-top: 127px;
    font-size: 12px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    color: $bitter-gray-text;
    text-align: center;
}

.bitter-related--list-item:first-child .bitter-related--list-item__text {
    background-image: url(../img/sw-bitter/bitter-grass-icon.svg);
    background-repeat: no-repeat;
    background-position: 120px 34px;
}

.bitter-related--list-item:nth-child(2) .bitter-related--list-item__text {
    background-image: url(../img/sw-bitter/bitter-certificate-icon.svg);
    background-repeat: no-repeat;
    background-position: 120px 34px;
}

.bitter-related--list-item:last-child .bitter-related--list-item__text {
    background-image: url(../img/sw-bitter/bitter-instruction-icon.svg);
    background-repeat: no-repeat;
    background-position: 115px 45px;
}