.bitter-popularity--title {
    padding: 0 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
}

.bitter-popularity--reason-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.bitter-popularity--list {
    @include list-reset;
    padding-bottom: 83%;
    background-image: url(../img/sw-bitter/bitter-popularity.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.bitter-popularity--list-item {
    padding-left: 40px;
    padding-right: 57px;
    background-image: url(../img/sw-bitter/bitter-arrow.png);
    background-repeat: no-repeat;
    background-position: 11px 7px;
}

.bitter-popularity--list-item p {
    font-size: 14px;
    line-height: 22px;
}

.bitter-popularity--description {
    padding-left: 49px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 24px;
    color: $bitter-gray-text;
    text-align: center;
}

@media (min-width: $tablet-width) {
    .bitter-popularity {
        position: relative;
    }

    .bitter-popularity--title {
        padding-left: 75px;
        padding-right: 75px;
        font-size: 30px;
        line-height: 40px;
    }

    .bitter-popularity--reason-title {
        font-size: 14px;
        line-height: 20px;
    }

    .bitter-popularity--list {
        padding-left: 17%;
        padding-right: 13%;
    }

    .bitter-popularity--list-item p {
        font-size: 16px;
        line-height: 22px;
    }

    .bitter-popularity--description {
        position: absolute;
        left: 10%;
        top: 83%;
        width: 72%;
        padding: 15px 35px; 
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
        text-align: start;
        background-color: #ffffff;
    }

    .bitter-popularity--description p {
        padding-right: 100px;
        padding-top: 40px;
        padding-left: 25px;
        padding-bottom: 64px;
        background-color: #ffffff;
        border: 2px solid $bitter-green;
    }
}

@media (min-width: $desktop-width) {
    .bitter-popularity {
        margin-top: 195px;
    }
    
    .bitter-popularity--title {
        padding-left: 633px;
        font-size: 40px;
        line-height: 50px;
        text-align: start;
    }

    .bitter-popularity--reason-title {
        text-align: start;
        padding-left: 633px;
    }

    .bitter-popularity--list {
        margin-top: -333px;
        padding-left: 623px;
        padding-top: 333px;
        padding-bottom: 235px;
        background-size: 825px 600px;
        background-position: -252px -74px;
    }

    .bitter-popularity--description {
        width: 554px;
        top: 298px;
        left: -20px;
    }
}