.bitter-featers--list {
    @include list-reset;
    margin-left: 55px;
    margin-top: 25px;
    margin-right: 100px;
}

.bitter-featers--list-item__title {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: $bitter-light-green;
}

.bitter-featers--list-item__title::after {
    content: "";
    display: block;
    width: 54px;
    height: 2px;
    margin-top: 8px;
    background-color: $bitter-light-green;
}

.bitter-featers--list-item:nth-child(2) .bitter-featers--list-item__title::after {
    width: 83px;
}

.bitter-featers--list-item:nth-child(3) .bitter-featers--list-item__title::after {
    width: 133px;
}

.bitter-featers--list-item:nth-child(4) .bitter-featers--list-item__title::after {
    width: 91px;
}

.bitter-featers--list-item__description {
    font-size: 16px;
    line-height: 24px;
}