.bitter-composition--title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
    color: $bitter-gray-text;
}

.bitter-composition--sub-title__list {
    @include list-reset;
    padding-left: 43px;
    padding-right: 70px;
}

.bitter-composition--sub-title__list-item p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $bitter-gray-text;
}

.bitter-composition--sub-title__list-item::before {
    content: "";
    position: relative;
    top: 32px;
    left: -24px;
    display: block;
    width: 11px;
    height: 11px;
    background-color: $bitter-light-green;
    border-radius: 50%;
}

.bitter-composition--list {
    @include list-reset;
    margin-right: 10px;
    margin-left: 10px;
}

.bitter-composition--list-item {
    position: relative;
    margin: 12px auto;
    height: 300px;
    max-width: 310px;
}

.bitter-composition--list-item:first-child {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-01.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(2) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-02.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(3) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-03.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(4) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-04.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(5) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-05.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(6) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-06.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(7) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-07.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(8) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-08.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(9) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-09.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:nth-child(10) {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-09.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item:last-child {
    background-color: $bitter-gray-back;
    background-image: url(../img/sw-bitter/bitter-recipe-bg-mob-q.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-composition--list-item span,
.bitter-composition--list-item p  {
    position: absolute;
    font-size: 14px;
    line-height: 26px;
    font-weight: 900;
    color: $bitter-light-green;
}

.bitter-composition--list-item span {
    transform: rotate(-90deg) translateX(-23px);
}

.bitter-composition--list-item p {
    position: absolute;
    margin-top: 119px;
    margin-left: 43%;
    width: 300px;
    transform:rotate(-90deg);
}

.bitter-composition--list-item:last-child .bitter-composition--secret-ingredient {
    position: absolute;
    top: 11px;
    left: -68px;
    transform: rotate(0deg);
    width: 100px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 900;
    color: $bitter-gray-text;
    text-transform: uppercase;
}

.bitter-composition--description {
    width: 215px;
    margin-left: 17%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $bitter-gray-text;
    text-align: center; 
}

@media (min-width: $tablet-width) {
    .bitter-composition {
        position: relative;
    }

    .bitter-composition--title {
        font-size: 30px;
        line-height: 40px;
    }

    .bitter-composition--sub-title__list {
        margin-left: 135px;
        margin-right: 135px;
    }

    .bitter-composition--sub-title__list-item p {
        font-size: 16px;
        line-height: 22px;
    }

    .bitter-composition--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 25px;
    }

    .bitter-composition--list-item {
        width: 325px;
        max-width: 325px;
        margin: 0;
        margin-bottom: 65px;
    }

    .bitter-composition--description {
        width: 298px;
        margin-top: -364px;
        margin-left: 420px;
        padding-top: 50px;
        padding-left: 26px;
        padding-bottom: 126px;
        font-size: 16px;
        line-height: 24px;
        text-align: start;
        border: 1px solid $bitter-light-green;
    }
 
}