.bitter-features--list {
    @include list-reset;
    margin-left: 55px;
    margin-top: 25px;
    margin-right: 100px;
}

.bitter-features--list-item__title {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: $bitter-light-green;
}

.bitter-features--list-item__title::after {
    content: "";
    display: block;
    width: 54px;
    height: 2px;
    margin-top: 8px;
    background-color: $bitter-light-green;
}

.bitter-features--list-item:nth-child(2) .bitter-features--list-item__title::after {
    width: 83px;
}

.bitter-features--list-item:nth-child(3) .bitter-features--list-item__title::after {
    width: 133px;
}

.bitter-features--list-item:nth-child(4) .bitter-features--list-item__title::after {
    width: 91px;
}

.bitter-features--list-item__description {
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: $tablet-width) {
    .bitter-features {
        margin-top: 35%;
    }

    .bitter-features--list {
        margin-left: 23%;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .bitter-features--list-item {
        position: relative;
        width: 209px;
        padding-right: 60px;
        padding-bottom: 74px;
    }

    .bitter-features--list-item::before {
        position: absolute;
        top: -36px;
        left: -46px;
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 5px solid $bittr-reviews-gray-text;
        border-radius: 50%;
    }
}

@media (min-width: $desktop-width) {
    .bitter-features--list {
        margin-top: 35%;
        margin-left: 123px;
        margin-right: 0;
    }
}