.bitter-body {
  min-width: 320px;
  max-width: 320zpx;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
}

@media (min-width: $tablet-width) {
  .bitter-body {
    width: 760px;
    max-width: 760px;
    margin: 0 auto;
  }
}
