.bitter-related {
    padding-bottom: 32px;
    background-color: $bitter-gray-back;
}

.bitter-related--title {
    padding-left: 30px;
    padding-top: 45px;
    scroll-padding-bottom: 57px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    color: $bitter-gray-text;
    text-align: center;
}

.bitter-related--list {
    @include list-reset;
    position: relative;
}

.bitter-related--list-item__number {
    position: absolute;
    z-index: 0;
    margin-top: -24px;
    padding-left: 78px;
    color: #ffffff;
    font-size: 130px;
    font-weight: 900;
    text-align: center;
}

.bitter-related--list-item__text {
    position: relative;
    z-index: 3;
    padding-top: 127px;
    font-size: 12px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    color: $bitter-gray-text;
    text-align: center;
}

.bitter-related--list-item:first-child {
    background-image: url(../img/sw-bitter/bitter-grass-icon.svg), url(../img/sw-bitter/bitter-01-mob.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-related--list-item:nth-child(2) {
    background-image: url(../img/sw-bitter/bitter-certificate-icon.svg), url(../img/sw-bitter/bitter-02-mob.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-related--list-item:last-child {
    background-image: url(../img/sw-bitter/bitter-instruction-icon.svg), url(../img/sw-bitter/bitter-03-mob.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: $tablet-width) {
    .bitter-related {
        margin-top: -41px;
    }

    .bitter-related--title {
        font-size: 30px;
        line-height: 40px;
    }

    .bitter-related--list {
        width: 88%;
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 15px;
        margin-bottom: 60px;
        padding: 15px;
        background-color: #ffffff;
    }

    .bitter-related--list-item {
        width: 225px;
        background-color: #ffffff;
        border: 2px solid $bitter-gray-back;
    }

    .bitter-related--list-item__text {
        font-size: 10px;
        line-height: 14px;
    }

    
.bitter-related--list-item:first-child {
    margin-right: 10px;
    background-image: url(../img/sw-bitter/bitter-grass-icon.svg), url(../img/sw-bitter/bitter-01-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-related--list-item:nth-child(2) {
    margin-right: 10px;
    background-image: url(../img/sw-bitter/bitter-certificate-icon.svg), url(../img/sw-bitter/bitter-02-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bitter-related--list-item:last-child {
    background-image: url(../img/sw-bitter/bitter-instruction-icon.svg), url(../img/sw-bitter/bitter-03-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    }
}

@media (min-width: $desktop-width) {
    .bitter-related--title {
        padding-left: 90px;
        padding-right: 555px; 
        padding-bottom: 100px;   
        background-color: white;
        font-size: 40px;
        line-height: 50px;
        text-align: start;
    }

    .bitter-related--list {
        width: 75%;
        margin: -108px auto 55px;
    }
}