.bitter-popularity--title {
    padding: 0 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
}

.bitter-popularity--reason-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.bitter-popularity--list {
    @include list-reset;
    padding-bottom: 83%;
    background-image: url(../img/sw-bitter/bitter-popularity.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.bitter-popularity--list-item {
    padding-left: 40px;
    padding-right: 57px;
    background-image: url(../img/sw-bitter/bitter-arrow.png);
    background-repeat: no-repeat;
    background-position: 11px 7px;
}

.bitter-popularity--list-item p {
    font-size: 14px;
    line-height: 22px;
}

.bitter-popularity--description {
    padding-left: 49px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 24px;
    color: $bitter-gray-text;
    text-align: center;
}