.bitter-presentaition {
    margin: 0;
    background-color: #787b87;
    background-image: url(../img/sw-bitter/bitter-mountine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bitter-presentaition--title {
    padding-top: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

.bitter-presentaition--sub-title {
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 238px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
    color: #ffffff;
    background-image: url(../img/sw-bitter/mob-bitter-pack.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}