.btn-list {
    @include list-reset;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    justify-content: space-around;
}

.btn-list__item {
    margin: 30px;
    background-color: $light-gray;
    border: 1px solid #000000;
    box-shadow: 33px 10px 5px 0px rgba(247,247,247,1);
    
}

.btn {
    @include link-reset;
    padding: 5px 35px;
    color: #000000;
}

@media (min-width: $tablet-width) {
    .btn-list {
        flex-direction: row;
    }

    .btn {
        padding: 10px 55px;
    }
}

@media (min-width: $desktop-width)  {
    .btn {
        padding: 20px 75px;
    }
}