.main-nav--list {
    @include list-reset;
    position: relative;
    width: 0;
    margin-left: -250px;
    margin-top: -47px;
    transition: width 1s ease;
}

.main-nav--list-active {
   width: 100%;
   height: 100%;
   margin-left: 0;
   z-index: 15;
}


.main-nav--list__item {
    margin-left: 0;
    border-bottom: 2px solid black;
}

.main-nav--list__item:nth-child(1) {
    background-image: url(../img/index-img/tecnology.jpg);
    background-size: cover;
}

.main-nav--list__item:nth-child(2) {
    background-image: url(../img/index-img/instruments.jpg);
    background-size: cover;
}

.main-nav--list__item:nth-child(3) {
    background-image: url(../img/index-img/important-moments.jpg);
    background-size: cover;
}

.main-nav--list__item:nth-child(4) {
    background-image: url(../img/index-img/examples.jpg);
    background-size: cover;
    
}

.main-nav--list__item-link {
    @include link-reset;
    padding-left: 25px;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transition: background-color 2s ease;
}


@media (min-width: $tablet-width) {
    .main-nav--list__item-link {
        padding-top: 75px;
        padding-left: 45px;
        padding-bottom: 75px;
        font-size: 22px;
        font-weight: 300;
    }

    .main-nav--list__item-link:hover {
        background-color: black;
        background-image: url(../img/index-img/closed-tag-menu.png);
        background-repeat: no-repeat;
        background-position: 95%;
    }
}

@media (min-width: $desktop-width) {
    .main-nav {
        flex-grow: 2;
    }

    .main-nav--list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        transition: none;
    }

    .main-nav--list__item {
        border-bottom: none;
    }

    .main-nav--list__item:nth-child(1),
    .main-nav--list__item:nth-child(2),
    .main-nav--list__item:nth-child(3),
    .main-nav--list__item:nth-child(4) {
        background-image: none;
    }

    .main-nav--list__item-link {
        padding-top: 5px;
        padding-left: 65px;
        padding-bottom: 17px;
        font-size: 28px;
        background: none;
        transition: text-shadow 0.2s ease-in;
    }

    .main-nav--list__item-link:hover {
        background: none;
        text-shadow: 0 0 3px white;
    }
}