@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2"), url("../fonts/robotomedium.woff");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2"), url("../fonts/robotobold.woff");
    font-weight: bold;
  }
  
  .nerds--page {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    min-width: 1200px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    background-color: #ffffff;
  }
  
  .nerds--main-header {
    background-color: #eeeeee;
  }
  
  .nerds--main-logo {
    margin-top: 40px;
  }
  
  .nerds--main-logo:hover {
    opacity: 0.8;
  }
  
  .nerds--main-logo:active {
    opacity: 0.3;
  }
  
  .nerds--main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1160px;
    margin-top: 1px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
  }
  
  .nerds--nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 75px;
    margin-left: 200px;
    padding: 0;
    list-style: none;
  }
  
  .nerds--nav-item-active {
    border-bottom: 2px solid #fb565a
  }
  
  .nerds--nav-item {
    margin-right: 46px;
    padding-bottom: 3px;
    text-align: left;
  }
  
  .nerds--main-navigation a {
    color: #000000;
    text-transform: uppercase;
  }
  
  .nerds--main-navigation a:hover {
    color: #fb565a;
  }
  
  .nerds--main-navigation a:focus {
    color: #fb565a;
  }
  
  .nerds--main-navigation a:active {
    color: #a6a6a6;
  }
  
  .nerds--cart {
    position: relative;
    margin-top: 54px;
    margin-left: auto;
  }
  
  .nerds--cart::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -41px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Ccircle fill='%23a6a6a6' cx='4.5' cy='13.5' r='1.5'/%3E%3Ccircle fill='%23a6a6a6' cx='12.5' cy='13.5' r='1.5'/%3E%3Cpath fill='%23a6a6a6' d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z'/%3E%3C/svg%3E%0A");
  }
  
  .nerds--wrapper {
    width: 1160px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  
  .nerds--slide {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  
  .nerds--slide:target {
    z-index: 10;
    opacity: 1;
  }
  
  .nerds--slide-title {
    font-size: 55px;
    line-height: 58px;
    font-weight: 500;
    color: #000000;
    background-color: #eeeeee;
  }
  
  .nerds--slideSecond .nerds--slide-title {
    display: block;
    width: 517px;
  }
  
  .nerds--slide-description {
    width: 365px;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 38px;
    background-color: #eeeeee;
  }
  
  .nerds--slideSecond .nerds--slide-description {
    width: 415px;
  }
  
  .nerds--slide-content {
    width: 100%;
    margin-top: 2px;
    padding-top: 64px;
  }
  
  .nerds--slide-image {
    position: absolute;
  }
  
  .nerds--slideFirts .nerds--slide-image {
    bottom: -80px;
    right: 31px;
    width: 698px;
    height: 413px;
  }
  
  .nerds--slideSecond .nerds--slide-image {
    bottom: -81px;
    right: 0;
    width: 663px;
    height: 430px;
  }
  
  .nerds--slideThird .nerds--slide-image {
    bottom: -80px;
    right: -1px;
    width: 759px;
    height: 411px;
  }
  
  .nerds--slider {
    position: relative;
    height: 420px;
    background: #eeeeee;
  }
  
  .nerds--slider-pagination {
    position: absolute;
    left: 50.5%;
    top: 72.5%;
    bottom: 0;
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transform: translateX(-46%);
    -ms-transform: translateX(-46%);
    transform: translateX(-46%);
  }
  
  .nerds--slider-pagination-btn {
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 17px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  
  .nerds--slider-pagination-btn:active {
    opacity: 0.5;
  }
  
  .nerds--slider-pagination-btn-active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .nerds--btn {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff4f4;
    background-color: #fb565a;
    border: none;
    cursor: pointer;
  }
  
  .nerds--btn:hover {
    background-color: #e74246;
  }
  
  .nerds--btn:active {
    color: #e37376;
    background-color: #d7373b;
  }
  
  .nerds--btn-slide {
    width: 239px;
    padding-top: 16px;
    padding-bottom: 15px;
    border-radius: 3px;
    text-align: center;
  }
  
  .nerds--services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1160px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 80px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    list-style: none;
  }
  
  .nerds--services-item {
    width: 300px;
    margin-right: 100px;
  }
  
  .nerds--services-item:nth-child(3n) {
    margin-right: 0;
  }
  
  .services-item-title {
    position: relative;
    margin: 0;
    padding-top: 172px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  
  }
  
  .nerds--services-item-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 146px;
    background: url("../img/illustration-1.png") no-repeat;
  }
  
  .nerds--services-item-2 .nerds--services-item-title {
    padding-left: 0;
  }
  
  .nerds--services-item-2 .nerds--services-item-title::before {
    background: url("../img/illustration-2.png") no-repeat;
  }
  
  .nerds--services-item-3 .nerds--services-item-title::before {
    background: url("../img/illustration-3.png") no-repeat;
  }
  
  .nerds--services-item-description {
    width: 260px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
  
  }
  
  .nerds--services-item-2 .nerds--services-item-description {
    left: 0;
  }
  
  .nerds--btn-services {
    width: 160px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
    text-align: center;
    border-radius: 3px;
  }
  
  .nerds--btn-services-red:hover {
    background-color: #e74246;
  }
  
  .nerds--btn-services-red:active {
    color: #e37376;
    background-color: #e74246;
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53, 1);
    box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53, 1);
  }
  
  .nerds--btn-services-green {
    background-color: #00ca74;
  }
  
  .nerds--btn-services-green:hover {
    background-color: #00bc6c;
  }
  
  .nerds--btn-services-green:active {
    color: #4dc491;
    background-color: #00aa62;
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0, 153, 88, 1);
    box-shadow: inset 0px 3px 0px 0px rgba(0, 153, 88, 1);
  }
  
  .nerds--btn-services-yellow {
    background-color: #efc849;
  }
  
  .nerds--btn-services-yellow:hover {
    background-color: #eab534;
  }
  
  .nerds--btn-services-yellow:active {
    color: #edc265;
    background-color: #e5a722;
    -webkit-box-shadow: inset 0px 3px 1px 0px rgba(206, 150, 31, 1);
    box-shadow: inset 0px 3px 1px 0px rgba(206, 150, 31, 1);
  }
  
  .nerds--about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    margin-top: 37px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  
  .nerds--about-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
  }
  
  .nerds--about-description {
    width: 660px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  
  .nerds--about-text {
    margin-top: -4px;
  }
  
  .nerds--features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    margin-left: auto;
    margin-top: 59px;
    padding-left: 0;
    list-style: none;
  }
  
  .nerds--features-item {
    width: 120px;
    margin-left: 22px;
  }
  
  .nerds--features-item-percent sup {
    position: relative;
    top: -16px;
    left: -1px;
    font-size: 26px;
  }
  
  .nerds--features-item-percent + span {
    display: block;
    margin-top: 18px;
    font-size: 16px;
    line-height: 18px;
  }
  
  .nerds--about-features-title {
    position: relative;
    margin: 0;
    margin-left: 141px;
    padding-top: 248px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
  }
  
  .nerds--about-features-title::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 360px;
    height: 215px;
    background: url("../img/nerds-illustration.png") no-repeat;
  }
  
  .nerds--features-item-percent {
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
    color: #000000;
  }
  
  .nerds--orders-title {
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
  }
  
  .nerds--orders-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nerds--orders-item {
    position: relative;
    top: -38px;
    padding-left: 35px;
    padding-top: 24px;
  }
  
  .nerds--orders-item::before {
    content: "";
    position: absolute;
    top: 72%;
    left: 13px;
    width: 25px;
    height: 2px;
    background: #fb565a;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
  
  .nerds--projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 49px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
  }
  
  .nerds--projects-item {
    position: relative;
    margin-right: 100px;
  }
  
  .nerds--projects-item:nth-child(1) {
    margin-right: 95px;
  }
  
  .nerds--projects-item:nth-child(3) {
    margin-right: 125px;
  }
  
  .nerds--projects-item::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .nerds--projects-item:last-child {
    margin-right: 32px;
  }
  
  .nerds--projects-item:first-child {
    margin-left: 32px;
  }
  
  .nerds--projects-item:first-child::before {
    width: 0;
    height: 0;
  }
  
  .nerds--projects-item:nth-child(2)::before {
    top: 14px;
    left: -47px;
  }
  
  .nerds--projects-item:nth-child(3)::before {
    top: -3px;
    left: -56px;
  }
  
  .nerds--projects-item:nth-child(4)::before {
    top: 11px;
    left: -66px;
  }
  
  .nerds--projects-image {
    opacity: 0.2;
  }
  
  .nerds--projects-image:hover {
    opacity: 1;
  }
  
  .nerds--projects-image:active {
    opacity: 0.1;
  }
  
  .nerds--map-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 416px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background: #eeece5 url(../img/map-marker2.jpg);
  }
  
  .nerds--map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 416px;
  }
  
  .nerds--contact-us-container {
    position: relative;
    width: 1160px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  
  .nerds--contact-us {
    position: absolute;
    top: 54px;
    left: 0;
    width: 319px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  .nerds--contact-us-title {
    margin: 0;
    padding-top: 49px;
    padding-right: 28px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  .nerds--contact-address,
  .nerds--contact-phone {
    width: 213px;
    margin-left: 50px;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #666666;
  }
  
  .nerds--contact-us-btn {
    display: block;
    width: 219px;
    margin-top: 17px;
    margin-bottom: 47px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    text-align: center;
  }
  
  .nerds--pop-up {
    position: absolute;
    top: -138px;
    left: 50%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 960px;
    height: 592px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    z-index: 2;
    background: #ffffff;
    -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 1);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .nerds--page-form .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    margin-top: 15px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  
  .nerds--page-form .nerds--close-button {
    display: none;
  }
  
  .nerds--pop-up-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: zoomin 0.6s;
    animation: zoomin 0.6s;
  }
  
  .nerds--modal-error {
    -webkit-animation: shake 2s;
    animation: shake 2s;
  }
  
  .nerds--write-us-form input {
    width: 360px;
    margin-top: 5px;
    margin-bottom: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #b4b9bb;
  }
  
  .nerds--write-us-form textarea {
    max-width: 763px;
    min-height: 118px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 48px;
    padding-top: 11px;
    padding-right: 0;
    padding-bottom: 13px;
    padding-left: 17px;
    border: 2px solid #b4b9bb;
    border-radius: 5px;
  }
  
  .nerds--pop-up input:hover,
  .nerds--pop-up input:focus,
  .nerds--pop-up textarea:hover,
  .nerds--pop-up textarea:focus {
    border-color: #000000;
  }
  
  .nerds--pop-up-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .nerds--form-title {
    margin: 0;
    padding-top: 68px;
    padding-bottom: 38px;
    padding-right: 414px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
  }
  
  .nerds--close-button {
    position: relative;
    top: 14px;
    left: 20px;
    background-color: #ffffff;
    opacity: 0.3;
  }
  
  .nerds--close-button:hover,
  .nerds--close-button:focus {
    background-color: #ffffff;
    opacity: 1;
  }
  
  .nerds--close-button:active {
    background-color: #ffffff;
    opacity: 0.1;
  }
  
  .nerds--your-name-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 40px;
    width: 360px;
  }
  
  .nerds--your-mail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .nerds--your-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3px;
    font-weight: 700;
  }
  
  .nerds--letter-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 700;
  }
  
  .nerds--letter-text label {
    margin-top: 4px;
    margin-left: 5px;
  }
  
  .nerds--send-btn {
    padding-top: 15px;
    padding-right: 86px;
    padding-bottom: 15px;
    padding-left: 83px;
    border-radius: 3px;
    margin-left: 3px;
  }
  
  .nerds--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 63px;
    padding-right: 0;
    padding-bottom: 63px;
    padding-left: 0;
  }
  
  .nerds--footer-promo {
    width: 560px;
    margin-top: 15px;
  }
  
  .nerds--footer-promo-title {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
  }
  
  .nerds--footer-promo-content {
    margin-top: 7px;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
  }
  
  .nerds--social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 130px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
  }
  
  .nerds--social-item {
    width: 78px;
    height: 78px;
    margin-right: 7px;
    background: #e1e1e1;
    border-radius: 50%;
  }
  
  .nerds--social-item-vk {
    position: relative;
  }
  
  .nerds--social-item-vk::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='15' viewBox='0 0 26 15'%3E%3Cpath fill='%23FFF' d='M16.138 11.51c.956-.309 2.18 2.04 3.483 2.939.978.681 1.727.534 1.727.534l3.473-.05s1.815-.112.957-1.554c-.071-.12-.503-1.069-2.585-3.022-2.177-2.043-1.882-1.712.739-5.244 1.597-2.153 2.236-3.468 2.036-4.028-.192-.539-1.365-.399-1.365-.399L20.69.713c-.381.001-.704.119-.851.515-.003.004-.621 1.666-1.445 3.079-1.741 2.989-2.436 3.148-2.724 2.961-.661-.433-.494-1.737-.494-2.664 0-2.897.432-4.105-.846-4.417-.427-.104-.739-.172-1.828-.182-1.392-.021-2.574 0-3.244.329-.445.223-.786.712-.579.74.26.035.843.16 1.155.586.401.552.389 1.789.389 1.789s.229 3.411-.54 3.834c-.528.29-1.25-.302-2.803-3.016-.793-1.388-1.392-2.922-1.392-2.922s-.116-.285-.326-.441c-.25-.185-.6-.244-.6-.244L.848.684S.29.7.085.946c-.182.218-.015.668-.015.668s2.909 6.881 6.203 10.347c3.02 3.182 6.452 2.971 6.452 2.971h1.555s.469-.054.709-.312c.224-.24.214-.691.214-.691s-.031-2.109.935-2.419z'/%3E%3C/svg%3E");
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .nerds--social-item-vk:hover,
  .nerds--social-item-vk:focus {
    background-color: #e74246;
  }
  
  .nerds--social-item-fb {
    position: relative;
  }
  
  .nerds--social-item-fb::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
    transform: translateX(-50%) translateY(-50%);
  }
  
  .nerds--social-item-fb:hover,
  .nerds--social-item-fb:focus {
    background-color: #e74246;
  }
  
  .nerds--social-item-inst {
    position: relative;
  }
  
  .nerds--social-item-inst::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23FFF' d='M18 0H3C1.35 0 0 1.35 0 3v15c0 1.65 1.35 3 3 3h15c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zm-7.5 7c1.93 0 3.5 1.57 3.5 3.5S12.43 14 10.5 14 7 12.43 7 10.5 8.57 7 10.5 7zM18 18H3V9h1.181A6.504 6.504 0 0 0 4 10.5a6.5 6.5 0 1 0 13 0 6.45 6.45 0 0 0-.181-1.5H18v9zm0-11h-4V3h4v4z'/%3E%3C/svg%3E");
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .nerds--social-item-inst:hover,
  .nerds--social-item-inst:focus {
    background-color: #e74246;
  }
  
  .nerds--social-item:active {
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53, 1);
    box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53, 1);
  }
  
  .nerds--social-item:active::before {
    opacity: 0.1;
  }
  
  .nerds--catalog-intro {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
  }
  
  .nerds--catalog-intro-title {
    width: 1160px;
    text-align: center;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 103px;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
  }
  
  .nerds--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }
  
  .nerds--sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 57px;
    margin-left: 140px;
  }
  
  .nerds--sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 295px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 268px;
    padding: 0;
    list-style: none;
  }
  
  .nerds--sort-item {
    padding-right: 24px;
  }
  
  .nerds--sort-item-active .sort-link {
    opacity: 1;
  }
  
  .nerds--sort-btns-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 26px;
    padding: 0;
  }
  
  .nerds--sort-btns-item:first-child {
    margin-right: 17px;
  }
  
  .nerds--sort-btn-up {
    padding-left: 3px;
  }
  
  .nerds--sort-btn-down,
  .nerds--sort-btn-up {
    padding: 0;
    background-color: #ffffff;
    opacity: 0.2;
  }
  
  .nerds--sort-btn-down:hover,
  .nerds--sort-btn-down:focus,
  .nerds--sort-btn-up:hover,
  .nerds--sort-btn-up:focus {
    background-color: #ffffff;
    opacity: 0.5;
  }
  
  .nerds--sort-btn-down:active,
  .nerds--sort-btn-up:active {
    background-color: #ffffff;
    opacity: 1;
  }
  
  .nerds--sort-btn-down-active {
    opacity: 1;
  }
  
  .nerds--sort-forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 260px;
    margin-top: 61px;
  }
  
  .nerds--sort-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
  }
  
  .nerds--sort-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
  }
  
  .nerds--sort-link:hover {
    opacity: 0.6;
  }
  
  .nerds--sort-link:active,
  .nerds--sort-link:disabled {
    opacity: 1;
  }
  
  .nerds--cost-sort {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    border: none;
  }
  
  .nerds--sort-form-title {
    margin-left: 3px;
    font-size: 19px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
  }
  
  .nerds--range-filter {
    width: 260px;
    margin-top: 46px;
    margin-left: 2px;
  }
  
  .nerds--range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 39px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .nerds--range-controls .nerds--scale {
    height: 2px;
    background: #d7dcde;
  }
  
  .nerds--range-controls .nerds--bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
  }
  
  .nerds--range-controls .nerds--toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 19px;
    height: 19px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
  }
  
  .nerds--range-controls .nerds--toggle::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 3px;
    height: 3px;
    background-color: #ababab;
    border-radius: 50%;
  }
  
  .nerds--range-controls .nerds--toggle-min {
    left: 16px;
  }
  
  .nerds--range-controls .nerds--toggle-max {
    left: 158px;
  }
  
  .nerds--price-controls {
    margin-top: 17px;
    font-size: 0;
  }
  
  .nerds--price-controls label {
    display: inline-block;
    vertical-align: baseline;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .nerds--price-controls input {
    width: 81px;
    margin-left: 12px;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
  }
  
  .nerds--max-price {
    text-align: right;
  }
  
  .nerds--grid-sort {
    width: 160px;
    margin-top: 16px;
    margin-left: -12px;
    border: none;
  }
  
  .nerds--grid-list {
    margin-top: 4px;
    list-style: none;
  }
  
  .nerds--grid-item {
    position: relative;
    display: block;
    padding-top: 6px;
    padding-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #283136;
  }
  
  .nerds--grid-item-input + label {
    color: #000000;
  }
  
  .nerds--grid-item-input:focus + label,
  .nerds--grid-item-input:hover + label {
    color: #000000;
  }
  
  .nerds--grid-item-input + .nerds--grid-item-lable::before {
    content: "";
    position: absolute;
    top: 9%;
    left: -29%;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3C/svg%3E ");
    opacity: 0.3;
  }
  
  .nerds--grid-item-input:checked + .nerds--grid-item-lable::before {
    content: "";
    position: absolute;
    top: 9%;
    left: -29%;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3Ccircle fill=%22%234D4D4D%22 cx=%2212.5%22 cy=%2212.5%22 r=%224.5%22/%3E%3C/svg%3E ");
    opacity: 0.3;
  }
  
  .nerds--grid-item-input + .nerds--grid-item-lable:hover::before {
    content: "";
    position: absolute;
    top: 9%;
    left: -29%;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3C/svg%3E ");
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
  }
  
  .nerds--grid-item-input:focus + .nerds--grid-item-lable::before {
    content: "";
    position: absolute;
    top: 9%;
    left: -29%;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3C/svg%3E ");
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
  }
  
  .nerds--grid-item-input:checked + .nerds--grid-item-lable:hover::before {
    content: "";
    position: absolute;
    top: 9%;
    left: -29%;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3Ccircle fill=%22%234D4D4D%22 cx=%2212.5%22 cy=%2212.5%22 r=%224.5%22/%3E%3C/svg%3E ");
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
  }
  
  .nerds--grid-item-input:focus:checked + .nerds--grid-item-lable::before {
    content: "";
    position: absolute;
    top: 9%;
    left: -29%;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2225%22 height=%2225%22 viewBox=%220 0 25 25%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z%22/%3E%3Ccircle fill=%22%234D4D4D%22 cx=%2212.5%22 cy=%2212.5%22 r=%224.5%22/%3E%3C/svg%3E ");
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
  }
  
  .nerds--features-sort {
    min-width: 202px;
    margin-top: 5px;
    margin-left: -2px;
    padding: 0;
    border: none;
  }
  
  .nerds--features-sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
  }
  
  .nerds--features-sort-item {
    position: relative;
    padding-bottom: 15px;
  }
  
  .nerds--features-sort-input + .nerds--features-sort-lable::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -16%;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2223%22 height=%2223%22 viewBox=%220 0 23 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z%22/%3E%3C/svg%3E ");
    opacity: 0.3;
  }
  
  .nerds--features-sort-input:checked + .nerds--features-sort-lable::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -16%;;
    width: 27px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2227%22 height=%2223%22 viewBox=%220 0 27 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z%22/%3E%3Cpath fill=%22%234D4D4D%22 d=%22M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z%22/%3E%3C/svg%3E ");
    opacity: 0.3;
  }
  
  .nerds--features-sort-input + .nerds--features-sort-lable:hover::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -16%;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2223%22 height=%2223%22 viewBox=%220 0 23 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z%22/%3E%3C/svg%3E ");
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
  }
  
  .nerds--features-sort-input:focus + .nerds--features-sort-lable::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -16%;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2223%22 height=%2223%22 viewBox=%220 0 23 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z%22/%3E%3C/svg%3E ");
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
  }
  
  .nerds--features-sort-input:focus:checked + .nerds--features-sort-lable::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -16%;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2227%22 height=%2223%22 viewBox=%220 0 27 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z%22/%3E%3Cpath fill=%22%234D4D4D%22 d=%22M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z%22/%3E%3C/svg%3E ");
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    opacity: 1;
  }
  
  .nerds--features-sort-input:checked + .nerds--features-sort-lable:hover::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -16%;;
    width: 27px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2227%22 height=%2223%22 viewBox=%220 0 27 23%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z%22/%3E%3Cpath fill=%22%234D4D4D%22 d=%22M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z%22/%3E%3C/svg%3E ");
    opacity: 1;
  }
  
  .nerds--form-btn {
    margin-top: 17px;
    margin-left: 3px;
    padding-top: 18px;
    padding-bottom: 14px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border-radius: 5px;
  }
  
  .nerds--form-btn:hover,
  .nerds--form-btn:focus {
    background-color: #dfdfdf;
  }
  
  .nerds--form-btn:active {
    color: #000000;
    opacity: 0.3;
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 1);
  }
  
  .nerds--catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 760px;
    margin-top: 52px;
    margin-bottom: 46px;
    margin-left: 140px;
    padding: 0;
    list-style: none;
  }
  
  .nerds--catalog-item {
    position: relative;
    top: 2px;
    left: 2px;
    width: 360px;
    overflow: hidden;
    padding-top: 38px;
    margin-bottom: 33px;
  }
  
  .nerds--catalog-item:nth-child(odd) {
    margin-right: 40px;
  }
  
  .nerds--catalog-item:nth-child(2) {
    top: 2px;
    left: 2px;
  }
  
  .nerds--catalog-item:nth-child(3) {
    top: 4px;
    left: 2px;
  }
  
  .nerds--catalog-item:nth-child(4) {
    top: 4px;
  }
  
  .nerds--catalog-item:nth-child(5) {
    top: 6px;
  }
  
  .nerds--catalog-item:nth-child(6) {
    top: 6px;
  }
  
  .nerds--catalog-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 38px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%22360%22 height=%2240%22 viewBox=%220 0 360 40%22%3E%3Cpath fill=%22%234D4D4D%22 d=%22M356 0H4C1.8 0 0 1.8 0 4v36h360V4c0-2.2-1.8-4-4-4zM22.991 27a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm23.011 0a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm23.011 0a7 7 0 1 1 0-14 7 7 0 0 1 0 14z%22/%3E%3C/svg%3E");
    opacity: 0.12;
    -webkit-transition: all ease 0.7s;
    -o-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  
  .nerds--catalog-item-description {
    position: absolute;
    bottom: 2px;
    width: 360px;
    height: 222px;
    background: #eeeeee;
    -webkit-transform: translateY(799px);
    -ms-transform: translateY(799px);
    transform: translateY(799px);
    -webkit-transition: all ease 0.7s;
    -o-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  
  .nerds--catalog-item:hover .nerds--catalog-item-description {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  
  .nerds--barbershop .nerds--catalog-item-description {
    bottom: 1px;
    height: 218px;
  }
  
  .nerds--mishka .nerds--catalog-item-description {
    bottom: 1px;
    height: 218px;
  }
  
  .nerds--catalog-item:hover::before {
    opacity: 1;
  }
  
  .nerds--catalog-item-title {
    margin-top: 27px;
    margin-right: 2px;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }
  
  .nerds--catalog-item-link {
    color: inherit;
  }
  
  .nerds--catalog-item-text {
    max-height: 50px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 14px;
    margin-left: auto;
    overflow-y: auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;;
    color: #666666;
    text-align: center;
    width: 240px;
  }
  
  .nerds--sedona .nerds--catalog-item-text {
    width: 200px;
    padding-top: 3px;
  }
  
  .nerds--pink .nerds--catalog-item-text {
    width: 233px;
    margin-top: 16px;
    margin-left: 61px;
  }
  
  .nerds--barbershop .nerds--catalog-item-text {
    width: 168px;
    margin-top: 15px;
  }
  
  .nerds--mishka .nerds--catalog-item-text {
    width: 140px;
    margin-top: 15px;
  }
  
  .nerds--catalog-item figure {
    margin: 0;
    padding: 0;
  }
  
  .nerds--catalog-item-btn {
    width: 200px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 30px;
    margin-left: auto;
    padding-top: 19px;
    padding-bottom: 13px;
    text-align: center;
    border-radius: 4px;
  }
  
  .nerds--catalog-item-btn:active {
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53, 1);
    box-shadow: inset 0px 3px 0px 0px rgba(193, 49, 53, 1);
  }
  
  .nerds--sedona .nerds--catalog-item-btn {
    margin-top: 28px;
    margin-right: auto;
    margin-bottom: 28px;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 15px;
  }
  
  .nerds--barbershop .nerds--catalog-item-btn {
    padding-top: 16px;
    padding-bottom: 14px;
  }
  
  .nerds--pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 62px;
    margin-left: 140px;
    padding-left: 0;
    list-style: none;
  }
  
  .nerds--pagination-btn {
    height: 46px;
    margin-right: 12px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: 3px solid #eeeeee;
    border-radius: 3px;
  }
  
  .nerds--pagination-btn-active {
    background-color: #ffffff;
  }
  
  .nerds--pagination-btn:hover,
  .nerds--pagination-btn:focus {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
  }
  
  .nerds--pagination-btn:active {
    color: #959595;
    background-color: #d5d5d5;
    border: 3px solid #d5d5d5;
  }
  
  .nerds--pagination-btn-next {
    width: 238px;
    background-color: #eeeeee;
  }
  
  @-webkit-keyframes zoomin {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomin {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes shake {
    0%, 100% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translate(-51%, 0);
      transform: translate(-51%, 0);
    }
    20%, 40%, 60%, 80% {
      -webkit-transform: translate(-49%, 0);
      transform: translate(-49%, 0);
    }
  }
  
  @keyframes shake {
    0%, 100% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translate(-51%, 0);
      transform: translate(-51%, 0);
    }
    20%, 40%, 60%, 80% {
      -webkit-transform: translate(-49%, 0);
      transform: translate(-49%, 0);
    }
  }