.pink--offers-list {
@include list-reset;
  margin-top: 35px;
  padding-top: 25px;
  padding-bottom: 304px;
  background-color: $pink--light-grey;
  background-image: url(../img/pink/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 83px 505px;
  @media (min-resolution: $pink--retina-dpi), (min-resolution: $pink--retina-dppx) {
    background-image: url(../img/pink/iphone-screen-mobile@2x.png);
    background-size: 156px 315px;
  }
}

.pink--offers-list__item {
  position: relative;
  z-index: 2;
}

.pink--offers-list__triangle {
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 300px;
  fill: #ffffff;
}

.pink--offers-list__item--title {
  padding-top: 37px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.pink--offers-list__item--text {
  margin-top: -3px;
  padding-left: 31px;
  padding-right: 31px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $pink--dark-grey;
  text-align: center;
}

.pink--offers-list__item:nth-child(2){
  margin-top: -21px;
}

.pink--offers-list__item--text:nth-child(2) {
  margin-top: -3px;
}

.pink--offers-list__item:nth-child(3) {
  margin-top: -21px;
}

.pink--offers-list__item--text:last-child {
  margin-top: -3px;
  padding-left: 29px;
  padding-right: 28px;
}

@media (min-width: $pink--tablet-width) {
  .pink--offers-list {
    margin-top: 0;
    padding-left: 330px;
    padding-right: 10px;
    padding-bottom: 51px;
    background-color: $pink--light-grey;
    background-image: none;
  }

  .pink--offers-list::before {
    content: "";
    position: absolute;
    top: 190px;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 547px;
    background-image: url(../img/pink/iphone-screen-3-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: 20px 6px;
    @media (min-resolution: $pink--retina-dpi), (min-resolution: $pink--retina-dppx) {
      background-image: url(../img/pink/iphone-screen-3-tablet@2x.png);
      background-size: 265px 482px;
    }
  }

  .pink--offers-list__item {
    top: 23px;
  }

  .pink--offers-list__item:nth-child(2) {
    margin-top: 22px;
  }

  .pink--offers-list__item:nth-child(3) {
    margin-top: 23px;
    padding-right: 0;
  }


  .pink--offers-list__triangle {
    top: 64px;
  }

  .pink--offers-list__item--title {
    padding-top: 15px;
    text-align: left;
  }

.pink--offers-list__item--title:nth-child(2) {
  margin-top: 145px;
}

  .pink--offers-list__item--text {
    padding-left: 0;
    text-align: left;
  }

  .pink--offers-list__item--text:last-child {
    padding-right: 0;
    padding-left: 0;
  }
}


@media (min-width: $pink--desktop-width) {
  .pink--offers-list {
    display: flex;
    margin: 0;
    margin-top: 75px;
    margin-bottom: -16px;
    padding-left: 118px;
    padding-top: 0;
    padding-right: 147px;
    padding-bottom: 0;
    background-image: none;
  }

  .pink--offers-list::before {
    display: none;
  }
  .pink--offers-list__triangle {
    top: 156px;
  }

  .pink--offers-list__item {
    top: -3px;
    margin-right: 15px;
  }

  .pink--offers-list__item:first-child {
    padding-top: 280px;
    background-image: url(../img/pink/iphone-screen-1-desktop@1x.png);
    background-repeat: no-repeat;
    background-position-x: 18px;
    @media (min-resolution: $pink--retina-dpi), (min-resolution: $pink--retina-dppx) {
      background-image: url(../img/pink/iphone-screen-1-desktop@2x.png);
      background-size: 292px 300px;
      background-position: 16px 0px;
    }
  }

  .pink--offers-list__item:nth-child(2) {
    margin-top: -4px;
    padding-top: 254px;
    background-image: url(../img/pink/iphone-screen-2-desktop@1x.png);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    @media (min-resolution: $pink--retina-dpi), (min-resolution: $pink--retina-dppx) {
      background-image: url(../img/pink/iphone-screen-2-desktop@2x.png);
      background-size: 292px 303px;
    background-position: 2px 3px;
    }
  }

  .pink--offers-list__item:nth-child(3) {
    margin-top: -13px;
    padding-top: 294px;
    background-image: url(../img/pink/iphone-screen-3-desktop@1x.png);
    background-repeat: no-repeat;
    background-position: 10px 13px;
    @media (min-resolution: $pink--retina-dpi), (min-resolution: $pink--retina-dppx) {
      background-image: url(../img/pink/iphone-screen-3-desktop@2x.png);
      background-size: 292px 300px;
      background-position: 11px 13px;
    }
  }


  .pink--offers-list__item--title {
    margin-left: 5px;
    margin-top: 61px;
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
  }

  .pink--offers-list__item:nth-child(2) .pink--offers-list__item--title {
    margin-top: 92px;
    margin-left: -4px;
  }

  .pink--offers-list__item:nth-child(3) .pink--offers-list__item--title {
    margin-top: 60px;
    margin-left: 35px;
  }

  .pink--offers-list__item--text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .pink--offers-list__item:first-child .pink--offers-list__item--text {
    padding-left: 35px;
    padding-right: 35px;
  }

  .pink--offers-list__item:nth-child(2) .pink--offers-list__item--text {
    padding-right: 32px;
    padding-left: 22px;
  }

  .pink--offers-list__item:nth-child(3) .pink--offers-list__item--text {
    margin-left: 38px;
  }
}
