.pink--tariff__name--title,
.pink--tariff__name--base,
.pink--tariff__name--anlim,
.pink--tariff__option--title,
.pink--tariff__hit-flag--bg-tablet {
  display: none;
}

.pink--tariff__option--include {
  font-size: 0;
}

.pink--tariff {
  position: relative;
  padding-bottom: 98px;
  background-color: $pink--light-grey;
}

.pink--tariff__triangle {
  position: absolute;
  top: -35px;
  width: 320px;
}

.pink--tariff__hit-flag {
    position: absolute;
    top: 87px;
    left: 31px;
    z-index: 1;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-45deg);
}

.pink--tariff__hit-flag--bg-mobile {
  position: relative;
  top: 90px;
  left: 18px;
  z-index: 0;
}

.pink--tariff__table {
  margin-left: 20px;
  margin-top: 14px;
  border-collapse: collapse;
}

.pink--tariff__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $pink--dark-grey;
}

.pink--tariff__name--standart {
  padding-left: 89px;
  padding-top: 17px;
  padding-right: 79px;
  padding-bottom: 19px;
}


.pink--tariff__option--text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink--dark-grey;
  background-color: #ffffff;
  border: 2px solid $pink--grey;
}

.pink--tariff__option--text + .pink--tariff__name--standart {
  padding-left: 23px;
  padding-top: 11px;
  padding-right: 85px;
  padding-bottom: 8px;
}

.pink--tariff__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.pink--tariff__yes-icon {
  position: relative;
  fill: $pink--green;
}

.pink--tariff__yes-icon--filter {
  left: 69px;
  top: 7px;
}

.pink--tariff__yes-icon--smile {
  left: 123px;
  top: 8px;
}

.pink--tariff__no-icon {
  position: relative;
  left: 95px;
  top: 6px;
  fill: $pink--red;
}


@media (min-width: $pink--tablet-width) {
  .pink--tariff {
    padding-bottom: 63px;
  }

  .pink--tariff__hit-flag--bg-mobile {
    display: none;
  }

  .pink--tariff__table {
    margin-top: 27px;
  }

  .pink--tariff__triangle {
    width: $pink--tablet-width;
    top: -21px;
  }

  .pink--tariff__hit-flag--bg-tablet {
    position: relative;
    left: 330px;
    top: 86px;
    display: block;
  }

  .pink--tariff__hit-flag {
    top: 77px;
    left: 338px;
  }

 .pink--tariff__name--title,
 .pink--tariff__name--base,
 .pink--tariff__name--anlim {
   display: table-cell;
 }

 .pink--tariff__name {
   width: 155px;
   padding: 0;
   padding-top: 12px;
   padding-bottom: 2px;
   font-size: 16px;
   line-height: 30px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   border-right: 1px solid $pink--grey;
 }

 .pink--tariff__option--title {
   display: block;
   padding-left: 17px;
   padding-top: 5px;
   padding-right: 23px;
   padding-bottom: 12px;
   font-size: 14px;
   line-height: 30px;
   font-weight: 400;
   color: $pink--dark-grey;
   background-color: #ffffff;
   text-align: left;
   border-bottom: 2px solid $pink--grey;
 }

 .pink--tariff__cost {
   font-size: 18px;
 }

 .pink--tariff__option--text {
   padding: 0;
   font-size: 0;
  }

  .pink--tariff__option--text + .pink--tariff__name--standart {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .pink--tariff__yes-icon--filter {
    left: 40px;
    top: 10px;
  }

  .pink--tariff__yes-icon--smile {
    left: 38px;
    top: 8px;
  }

  .pink--tariff__yes-icon--comment {
    left: 63px;
    top: 4px;
  }

  .pink--tariff__no-icon {
    left: 41px;
    top: 7px;
  }

  .pink--tariff__name--base .pink--tariff__yes-icon--filter,
  .pink--tariff__name--anlim .pink--tariff__yes-icon--filter,
  .pink--tariff__name--anlim .pink--tariff__yes-icon--smile,
  .pink--tariff__yes-icon--comment,
  .pink--tariff__name--base .pink--tariff__no-icon {
    left: 63px;
  }

  .pink--tariff__pagination-list {
    display: none;
  }
}

@media (min-width: $pink--desktop-width) {
  .pink--tariff {
    margin-top: 31px;
    padding-bottom: 97px
  }

  .pink--tariff__triangle {
    width: 1200px;
    top: 0;
  }

  .pink--tariff__table {
    margin-left: 129px;
    margin-top: 73px;
  }

  .pink--tariff__name {
    width: 233px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 18px;
    font-size: 18px;
  }

  .pink--tariff__cost {
    font-size: 24px;
  }

  .pink--tariff__option--title {
    display: block;
    padding-left: 23px;
    padding-top: 16px;
    padding-right: 65px;
    padding-bottom: 12px;
    font-size: 18px;
  }

  .pink--tariff__hit-flag--bg-tablet {
    display: none;
  }

  .pink--tariff__hit-flag--bg-mobile {
    position: relative;
    left: 599px;
    top: 146px;
    display: block;
  }

  .pink--tariff__hit-flag {
    top: 142px;
    left: 611px;
  }

  .pink--tariff__name--base .pink--tariff__yes-icon--filter,
  .pink--tariff__name--anlim .pink--tariff__yes-icon--filter,
  .pink--tariff__name--anlim .pink--tariff__yes-icon--smile,
  .pink--tariff__yes-icon--comment,
  .pink--tariff__name--base .pink--tariff__no-icon {
    left: 103px;
    top: 10px;
  }

  .pink--tariff__yes-icon--filter {
    left: 81px;
    top: 13px;
  }

  .pink--tariff__yes-icon--smile {
    left: 80px;
    top: 13px;
  }

  .pink--tariff__no-icon {
    left: 82px;
    top: 12px;
  }

  .pink--tariff__pagination-list {
    display: none;
  }
}
