@font-face {
  font-family: "Monserrat";
  src: url(../fonts/montserrat.woff), url(../fonts/montserrat.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Monserrat";
  src: url(../fonts/montserratbold.woff), url(../fonts/montserratbold.woff2);
  font-weight: 900;
}

@font-face {
  font-family: "Monserrat";
  src: url(../fonts/montserratlight.woff), url(../fonts/montserratlight.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff), url(../fonts/opensans.woff2);
  font-weight: 400;
  }

  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensansbold.woff), url(../fonts/opensansbold.woff2);
    font-weight: 700;
  }

  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensanslight.woff), url(../fonts/opensanslight.woff2);
    font-weight: 300;
  }

img {
  width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .bitter-tablet-only {
    display: none;
  }

  .bitter-desktop-only {
    display: none;
  }

  @media (min-width: $tablet-width) {
    .bitter__mobile-only {
      display: none;
    }

    .bitter-tablet-only {
      display: block;
    }

    .bitter-desktop-only {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .bitter-tablet-only {
      display: none;
    }

    .bitter-desktop-only {
      display: block;
    }
  }
  
  .pink--line-break--tablet {
      display: none;
    }
  
  .pink--line-break--desktop {
      display: none;
    }
  
    .pink--desktop-only-text {
      display: none;
    }
  
    @media (min-width: $pink--tablet-width) {
      .pink--line-break--mobile {
        display: none;
      }
  
      .pink--line-break--tablet {
        display: block;
      }
    }
  
    @media (min-width: $pink--desktop-width) {
    .pink--line-break--tablet {
      display: none;
    }
  
    .pink--line-break--desktop {
      display: block;
     }
  
     .pink--desktop-only-text {
      display: inline;
    }
    }
  