$tablet-width: 660px;
$desktop-width: 1200px;
$main-gray: #8d8888;
$light-gray: #bcb4b4;
$bitter-green: #7eb252;
$bitter-light-green: #a4c58c;
$bitter-gray-text: #303030;
$bitter-gray-back: #f6f9f3;
$bitter-gray-underline: #e6efde;
$bittr-reviews-gray-text: #b3b3b2;