$tablet-width: 760px;
$desktop-width: 1200px;
$pink--tablet-width: 660px;
$pink--desktop-width: 1200px;
$pink--retina-dpi: 144dpi;
$pink--retina-dppx: 1.5dppx;
$main-gray: #8d8888;
$light-gray: #bcb4b4;
$bitter-green: #7eb252;
$bitter-light-green: #a4c58c;
$bitter-hover-gradient-from: #b4d197;
$bitter-hover-gradient-to: #80a74e;
$bitter-gray-text: #303030;
$bitter-gray-back: #f6f9f3;
$bitter-gray-underline: #e6efde;
$bittr-reviews-gray-text: #b3b3b2;
$bitter-tablet-gray: #9a9a9a;
$pink--fuchsia : #d22856;
$pink--light-fuchsia: #f1becc;
$pink--light-grey: #f2f2f2;
$pink--grey: #e5e5e5;
$pink--dark-grey: #283645;
$pink--timer-color: #dedede;
$pink--green: #3dc644;
$pink--dark-green: #2aab6d;
$pink--red: #f25b26;
$pink--pagination-grey: #bec2c7;
